<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="images/favicon.png" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap"
      rel="stylesheet"
    />
    <title>PID-Trainer Air Heather</title>
    <link rel="stylesheet" href="css/stylemain.css" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
    <link rel="stylesheet" href="css/lineicons.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>

  <body>
    <main class="container-fluid-grafik" style="flex-grow:1;">
    <div class="overlay" id="overlay"></div>
    <div class="sidebar" id="sidebar">
      <div class="mt-2 mx-auto">
        <h class="ms-2 fs-6"> Select Control Mode</h>
        <select id="mode" class="form-select form-select-sm rounded-0" required>
          <option disabled selected>Choice Mode</option>
          <option value="satuposisi">Satu Posisi</option>
          <option value="duaposisi">Dua Posisi</option>
          <option value="pid">PID</option>
        </select>
      </div>
      <div class="input-group-sm mb-1">
        <h class="ms-2 m-1 fs-6">Duration (s)</h>
        <input
          type="number"
          class="form-control rounded-0"
          id="time_sampling"
          name="time_sampling"
          value=""
          step="0.1"
          placeholder="Enter times you'r needs"
          required
          oninput="this.value = this.value.replace(',', '.')"
        />
      </div>
      <div id="input-fields" class="mt-1"></div>
<span class="ms-2 mt-1 fs-6">Select Tools</span>
      <div class="text-center mt-3">
        <div class="tooltip-wrapper">
        <button id="start" class="btn btn-outline-success border-primary text-white"><img width="24" height="24" src="images/play_circle_24dp_E3E3E3.png" alt="start"/></button>
        <div class="custom-tooltip">Start Tuning</div>
      </div>
          <div class="tooltip-wrapper">
          <button id="clear" class="btn btn-outline-primary text-white"><img width="24" height="24" src="images/delete_sweep_24dp_E3E3E3.png" alt="clear"/></button>
          <div class="custom-tooltip">Clear Chart</div>
  </div>
  <div class="tooltip-wrapper">
    <button id="stop" class="btn btn-outline-danger border-primary text-white"><img width="24" height="24" src="images/stop_circle_24dp_E3E3E3.png" alt="stop"/></button>
    <div class="custom-tooltip">Stop Tuning</div>
  </div>
         <div class="mt-1">
            <div class="tooltip-wrapper">
            <button
            id="btnShowOldOutput"
            class="btn btn-outline-primary border-1 rounded ms-auto text-white"
          ><img width="24" height="24" src="images/history_24dp_E3E3E3.png" alt="history"/>
          
          </button>
          <div class="custom-tooltip">Show History Data</div>
  </div>
          <div class="tooltip-wrapper">
          <button id="exportcsv" class="btn btn-outline-success border-1 rounded text-white">
            <img width="24" height="24" src="images/export-csv-24.png" alt="export-csv"/>
            
          </button>
          <div class="custom-tooltip">Download CSV File</div>
  </div>
          <div class="tooltip-wrapper">
          <button
            id="btnShowCurrentOutput"
            class="btn btn-outline-primary border-1 rounded me-auto text-white">
          <img width="24" height="24" src="images/update_24dp_E3E3E3.png" alt="forward"/>
          
          </button>
          <div class="custom-tooltip">Show Current Data</div>
        </div> 
       </div>
      </div>
    </div>

    <nav class="navbar navbar-expand">
      <div class="container-fluid position-relative px-2 py-1 d-flex flex-column flex-md-row align-items-stretch align-items-md-center justify-content-between w-100">
       
        <div class="d-flex w-100 flex-row align-items-center justify-content-between mb-2 mb-md-0">
       
          <div class="tooltip-wrapper">
        <button id="toggleSidebar" type="button" class="btn-hover rounded">
          <img src="images/DashboardSquare1.png" width="33" height="33" />
        </button>
        <div class="custom-tooltip-menu">Menu Bar</div>
      </div> 

      <div class="w-100">
        <h4 class="top_tittle text-break text-center mb-0" style="color: aliceblue">
          Modul Praktikum Kendali PID pada Pemanas Udara Berbasis Internet of Things
        </h4>
      </div>

      <div class="d-flex align-items-center me-1" style="height:40px;">
        <span id="realtime-temperature" class="fw-bold text-danger px-3 py-1 rounded border border-primary border-start-0" style="font-size:0.7rem; background:white; height:24px; display: flex; align-items:center; white-space:nowrap;">
          --°C
        </span>
        </div>

        <div class="dropdown">
          <button
            class="btn-hover rounded dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="images/user.png"
              width="30"
              height="30"
              alt="User"
              class="rounded-circle"
            />
          </button>
          <div
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="userDropdown"
          >
            <div class="dropdown-item text-start">
              <strong><%= user.nama %></strong><br />
              <small><%= user.nim %></small>-<small><%= user.kelas %></small>
            </div>
            <div class="dropdown-divider"></div>
            <a class="dropdown">
              <div class="d-flex justify-content-center">
              <form action="/logout" method="post">
                <button id="logout" type="submit" class="btn btn-danger">
                  Log Out
                </button>
              </form>
              </div>
            </a>
          </div>
        </div>




        </div>
    </nav>

    <div class="container-fluid-grafik mx-0 border-0">
      <canvas id="realTimeChart"></canvas>
    </div>
    </main>

    <div class="custom-container-fluid">
    <footer
      class="d-flex align-items-center justify-content-between flex-wrap text-white"
    >
      <span class="ms-3">
        &copy; 2025
        <a class="text-white text-decoration-none"
          >D3-Teknik Elektronika, Politeknik Negeri Semarang</a
        >
      </span>

      <ul class="wp-block-social-links is-layout-flex d-flex flex-row flex-nowrap mb-0 gap-2 me-3">
        <li class="wp-social-link wp-social-link-youtube wp-block-social-link d-flex flex-row flex-nowrap">
          <a
            href="https://www.youtube.com/channel/UCpjWNObWb1De5StIxQ_7pZA"
            class="wp-block-social-link-anchor"
            ><svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              focusable="false"
            >
              <path
              fill="#ffffff"
                d="M21.8,8.001c0,0-0.195-1.378-0.795-1.985c-0.76-0.797-1.613-0.801-2.004-0.847c-2.799-0.202-6.997-0.202-6.997-0.202 h-0.009c0,0-4.198,0-6.997,0.202C4.608,5.216,3.756,5.22,2.995,6.016C2.395,6.623,2.2,8.001,2.2,8.001S2,9.62,2,11.238v1.517 c0,1.618,0.2,3.237,0.2,3.237s0.195,1.378,0.795,1.985c0.761,0.797,1.76,0.771,2.205,0.855c1.6,0.153,6.8,0.201,6.8,0.201 s4.203-0.006,7.001-0.209c0.391-0.047,1.243-0.051,2.004-0.847c0.6-0.607,0.795-1.985,0.795-1.985s0.2-1.618,0.2-3.237v-1.517 C22,9.62,21.8,8.001,21.8,8.001z M9.935,14.594l-0.001-5.62l5.404,2.82L9.935,14.594z"
              ></path></svg
            ><span class="wp-block-social-link-label screen-reader-text"
              >YouTube</span
            ></a
          >
        </li>

        <li
          class="wp-social-link wp-social-link-instagram wp-block-social-link d-flex flex-row flex-nowrap"
        >
          <a
            href="https://www.instagram.com/PolinesOfficial/"
            class="wp-block-social-link-anchor"
            ><svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              focusable="false"
            >
              <path
              fill="#ffffff"
                d="M12,4.622c2.403,0,2.688,0.009,3.637,0.052c0.877,0.04,1.354,0.187,1.671,0.31c0.42,0.163,0.72,0.358,1.035,0.673 c0.315,0.315,0.51,0.615,0.673,1.035c0.123,0.317,0.27,0.794,0.31,1.671c0.043,0.949,0.052,1.234,0.052,3.637 s-0.009,2.688-0.052,3.637c-0.04,0.877-0.187,1.354-0.31,1.671c-0.163,0.42-0.358,0.72-0.673,1.035 c-0.315,0.315-0.615,0.51-1.035,0.673c-0.317,0.123-0.794,0.27-1.671,0.31c-0.949,0.043-1.233,0.052-3.637,0.052 s-2.688-0.009-3.637-0.052c-0.877-0.04-1.354-0.187-1.671-0.31c-0.42-0.163-0.72-0.358-1.035-0.673 c-0.315-0.315-0.51-0.615-0.673-1.035c-0.123-0.317-0.27-0.794-0.31-1.671C4.631,14.688,4.622,14.403,4.622,12 s0.009-2.688,0.052-3.637c0.04-0.877,0.187-1.354,0.31-1.671c0.163-0.42,0.358-0.72,0.673-1.035 c0.315-0.315,0.615-0.51,1.035-0.673c0.317-0.123,0.794-0.27,1.671-0.31C9.312,4.631,9.597,4.622,12,4.622 M12,3 C9.556,3,9.249,3.01,8.289,3.054C7.331,3.098,6.677,3.25,6.105,3.472C5.513,3.702,5.011,4.01,4.511,4.511 c-0.5,0.5-0.808,1.002-1.038,1.594C3.25,6.677,3.098,7.331,3.054,8.289C3.01,9.249,3,9.556,3,12c0,2.444,0.01,2.751,0.054,3.711 c0.044,0.958,0.196,1.612,0.418,2.185c0.23,0.592,0.538,1.094,1.038,1.594c0.5,0.5,1.002,0.808,1.594,1.038 c0.572,0.222,1.227,0.375,2.185,0.418C9.249,20.99,9.556,21,12,21s2.751-0.01,3.711-0.054c0.958-0.044,1.612-0.196,2.185-0.418 c0.592-0.23,1.094-0.538,1.594-1.038c0.5-0.5,0.808-1.002,1.038-1.594c0.222-0.572,0.375-1.227,0.418-2.185 C20.99,14.751,21,14.444,21,12s-0.01-2.751-0.054-3.711c-0.044-0.958-0.196-1.612-0.418-2.185c-0.23-0.592-0.538-1.094-1.038-1.594 c-0.5-0.5-1.002-0.808-1.594-1.038c-0.572-0.222-1.227-0.375-2.185-0.418C14.751,3.01,14.444,3,12,3L12,3z M12,7.378 c-2.552,0-4.622,2.069-4.622,4.622S9.448,16.622,12,16.622s4.622-2.069,4.622-4.622S14.552,7.378,12,7.378z M12,15 c-1.657,0-3-1.343-3-3s1.343-3,3-3s3,1.343,3,3S13.657,15,12,15z M16.804,6.116c-0.596,0-1.08,0.484-1.08,1.08 s0.484,1.08,1.08,1.08c0.596,0,1.08-0.484,1.08-1.08S17.401,6.116,16.804,6.116z"
              ></path></svg
            ><span class="wp-block-social-link-label screen-reader-text"
              >Instagram</span
            ></a
          >
        </li>

        <li class="wp-social-link wp-social-link-twitter wp-block-social-link d-flex flex-row flex-nowrap">
          <a
            href="https://twitter.com/PolinesOfficial"
            class="wp-block-social-link-anchor"
            ><svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              focusable="false"
            >
              <path
              fill="#ffffff"
                d="M22.23,5.924c-0.736,0.326-1.527,0.547-2.357,0.646c0.847-0.508,1.498-1.312,1.804-2.27 c-0.793,0.47-1.671,0.812-2.606,0.996C18.324,4.498,17.257,4,16.077,4c-2.266,0-4.103,1.837-4.103,4.103 c0,0.322,0.036,0.635,0.106,0.935C8.67,8.867,5.647,7.234,3.623,4.751C3.27,5.357,3.067,6.062,3.067,6.814 c0,1.424,0.724,2.679,1.825,3.415c-0.673-0.021-1.305-0.206-1.859-0.513c0,0.017,0,0.034,0,0.052c0,1.988,1.414,3.647,3.292,4.023 c-0.344,0.094-0.707,0.144-1.081,0.144c-0.264,0-0.521-0.026-0.772-0.074c0.522,1.63,2.038,2.816,3.833,2.85 c-1.404,1.1-3.174,1.756-5.096,1.756c-0.331,0-0.658-0.019-0.979-0.057c1.816,1.164,3.973,1.843,6.29,1.843 c7.547,0,11.675-6.252,11.675-11.675c0-0.178-0.004-0.355-0.012-0.531C20.985,7.47,21.68,6.747,22.23,5.924z"
              ></path></svg
            ><span class="wp-block-social-link-label screen-reader-text"
              >Twitter</span
            ></a
          >
        </li>

        <li class="wp-social-link wp-social-link-facebook wp-block-social-link d-flex flex-row flex-nowrap">
          <a
            href="https://www.facebook.com/PolinesOfficial"
            class="wp-block-social-link-anchor"
            ><svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              focusable="false"
            >
            <path 
            fill="#ffffff"
            d="M12 2C6.5 2 2 6.5 2 12c0 5 3.7 9.1 8.4 9.9v-7H7.9V12h2.5V9.8c0-2.5 1.5-3.9 3.8-3.9 1.1 0 2.2.2 2.2.2v2.5h-1.3c-1.2 0-1.6.8-1.6 1.6V12h2.8l-.4 2.9h-2.3v7C18.3 21.1 22 17 22 12c0-5.5-4.5-10-10-10z"></path>
            <span class="wp-block-social-link-label screen-reader-text">Facebook</span
            ></a
          >
        </li>

        <li class="wp-social-link wp-social-link-web wp-block-social-link d-flex flex-row flex-nowrap">
          <a
            href="https://polines.ac.id"
            class="wp-block-social-link-anchor"
            ><svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              focusable="false"
            >
              <path
              fill="#ffffff"
               d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zM4 12c0-.61.08-1.21.21-1.78L8.99 15v1c0 1.1.9 2 2 2v1.93C7.06 19.43 4 16.07 4 12zm13.89 5.4c-.26-.81-1-1.4-1.9-1.4h-1v-3c0-.55-.45-1-1-1h-6v-2h2c.55 0 1-.45 1-1V7h2c1.1 0 2-.9 2-2v-.41C17.92 5.77 20 8.65 20 12c0 2.08-.81 3.98-2.11 5.4z"></path>              ></path></svg
            ><span class="wp-block-social-link-label screen-reader-text"
              >Website</span
            ></a
          >
        </li>
      </ul>
    </footer>
    </div>

    <script>
      window.myNim = "<%= user.nim %>";
    </script>

    <script src="javascripts/main.js"></script>
    <script src="javascripts/bootstrap.bundle.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
